.jumbotron{
  background: url(../img/piratephotos/pirate-ship.jpg) no-repeat center;
  text-align: center;
  color: $color-white;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin-bottom: 25px;
  position: relative;
  
}